<div class="container">
  <!-- Main Form container -->

  <div [formGroup]="menuForm" class="categories-form">
    <form type="form" (submit)="onSubmit()" action="" class="form-container">
      <button id="submit-btn" mat-raised-button type="submit">
        <span class="submit-btn-text"> Save Menu Item</span>
      </button>

      <div class="array-container">
        <div class="core-form">
          <div class="image-input-container">
            <div *ngIf="imageData">
              <img class="item-image" [src]="imageData" />
            </div>

            <div class="image-container">
              <label id="image-label" for="image">
                <span class="image-add-text"> Add Item Image</span>

                <input
                  id="file-input"
                  (change)="onFileSelect($event)"
                  type="file"
                  id="image"
                />
              </label>
            </div>
          </div>
          <div class="input-container">
            <mat-form-field class="mat-field" appearance="fill">
              <input
                matInput
                type="text"
                placeholder="Name"
                formControlName="name"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-field" appearance="fill">
              <input
                matInput
                type="text"
                placeholder="Price"
                formControlName="price"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-field" appearance="fill">
              <input
                matInput
                type="text"
                placeholder="Description"
                formControlName="description"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-field" appearance="fill">
              <input
                matInput
                type="text"
                placeholder="Item Type"
                formControlName="itemType"
              />
            </mat-form-field>
            <div *ngIf="!typeIsHidden" class="category-dropdown">
              <li
                class="list-item"
                *ngFor="let type of rest.itemtypes; let l; as: index"
                (click)="selectItemType(l)"
              >
                {{ type }}
              </li>
            </div>
            <button mat-raised-button type="button" (click)="showItemType()">
              Choose existing
            </button>
          </div>
        </div>

        <!-- Categories Array -->

        <div class="category-array">
          <div>
            <button mat-raised-button type="button" (click)="addCategory()">
              New Category
            </button>
          </div>
          <ng-container type="form" formArrayName="categories">
            <ng-container
              *ngFor="let categoryForm of categories.controls; let i = index"
            >
              <div [formGroupName]="i" class="categories-form-row">
                <mat-form-field class="mat-field" appearance="fill">
                  <input
                    type="text"
                    matInput
                    placeholder="Category"
                    formControlName="category"
                  />
                </mat-form-field>
                <div *ngIf="!catIsHidden[i]" class="category-dropdown">
                  <li
                    class="list-item"
                    *ngFor="let category of rest.categories; let y; as: index"
                    (click)="selectCat(i, y)"
                  >
                    {{ category }}
                  </li>
                </div>
                <button mat-raised-button type="button" (click)="showList(i)">
                  Choose existing
                </button>
                <div>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="deleteCategory(i)"
                  >
                    Delete Category
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <!-- Addons Array -->

        <div class="addon-array">
          <div>
            <button mat-raised-button type="button" (click)="addAddon()">
              New Addon
            </button>
          </div>
          <ng-container type="form" formArrayName="addons">
            <ng-container
              *ngFor="let addOnForm of addons.controls; let x = index"
            >
              <div [formGroupName]="x" class="addons-form-row">
                <mat-form-field class="mat-field" appearance="fill">
                  <input
                    matInput
                    placeholder="Addon"
                    formControlName="addonname"
                  />
                </mat-form-field>
                <div *ngIf="!addIsHidden[x]" class="category-dropdown">
                  <li
                    class="list-item"
                    *ngFor="let addon of rest.addonmenu; let j; as: index"
                    (click)="selectAddon(x, j)"
                  >
                    {{ addon.addonname }}
                  </li>
                </div>
                <button
                  mat-raised-button
                  type="button"
                  (click)="showAddList(x)"
                >
                  Choose existing
                </button>
                <div>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="addAddonOption(x)"
                  >
                    New addon option
                  </button>
                </div>

                <ng-container formArrayName="addonoptions">
                  <ng-container
                    *ngFor="
                      let addonoption of addonOptions(x).controls;
                      let k = index
                    "
                  >
                    <div [formGroupName]="k" class="imbeded-addon-options">
                      <mat-form-field class="mat-field" appearance="fill">
                        <input
                          matInput
                          type="text"
                          placeholder="Add On Option"
                          formControlName="option"
                        />
                      </mat-form-field>
                    </div>
                    <div
                      *ngIf="!addOptionIsHidden[k]"
                      class="category-dropdown"
                    >
                      <li
                        class="list-item"
                        *ngFor="
                          let addonoption of addOnOptionList(x);
                          let value;
                          as: index
                        "
                        (click)="selectAddonOption(k, value, x)"
                      >
                        {{ addonoption.option }}
                      </li>
                    </div>
                    <button
                      *ngIf="addonoption"
                      mat-raised-button
                      type="button"
                      (click)="showAddOptionList(k)"
                    >
                      Choose existing
                    </button>

                    <button
                      mat-raised-button
                      type="button"
                      (click)="deleteAddOnOption(x, k)"
                    >
                      Delete addon Option
                    </button>
                  </ng-container>
                  <div></div>
                </ng-container>
              </div>

              <div>
                <button
                  mat-raised-button
                  type="button"
                  (click)="deleteAddOn(x)"
                >
                  Delete Addon
                </button>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <!--  related sides array  -->

        <div class="side-array">
          <div>
            <button mat-raised-button type="button" (click)="addSide()">
              New Side
            </button>
          </div>
          <ng-container
            class="sides-container"
            type="form"
            formArrayName="relatedsides"
          >
            <ng-container
              *ngFor="let sideForm of relatedsides.controls; let j = index"
            >
              <div [formGroupName]="j" class="Sides-form-row">
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Name" formControlName="name" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <input matInput placeholder="Price" formControlName="price" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Description"
                    formControlName="description"
                  />
                </mat-form-field>
                <div *ngIf="!sideIsHidden[j]" class="category-dropdown">
                  <li
                    class="list-item"
                    *ngFor="let side of rest.sidesmenu; let l; as: index"
                    (click)="selectSide(j, l)"
                  >
                    {{ side.name }}
                  </li>
                </div>
                <div class="bottom-image-input-container">
                  <div *ngIf="sideItemImage(j)">
                    <img class="item-image" [src]="sideItemImage(j)" />
                  </div>

                  <div class="image-container">
                    <label id="bottom-image-label">
                      <span class="image-add-text"> Add Item Image</span>

                      <input
                        class="side-image"
                        id="side-file-input"
                        (change)="onFileSelectSide($event, j)"
                        type="file"
                      />
                    </label>
                  </div>
                </div>
                <button mat-raised-button type="button" (click)="showSide(j)">
                  Choose existing
                </button>
                <div>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="deleteSide(j)"
                  >
                    Delete Side
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
