//elements
input {
    padding-top: 1%;
    margin-top: 1%;
}
label {
    cursor:pointer;
}
input::file-selector-button {
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-bottom: 8%;
}
button {
    background-color: black;
    color: #31C6D4;
    font-size: 1.2em;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
}

// classes
.container {
    text-align: center;
    justify-content: center;
    background-color: #31C6D4;
    height: 90%;
    overflow: scroll;
}
.text-input-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.categories-form{
    text-align: center;
    justify-content: center;
    background-color: #31C6D4;
    
}
.image-add-text {
    font-weight: bold;
    font-size: 1.2em;
}
.mat-field {
  width: 100%;
    text-align: center;
    ::placeholder {
        color: black ;
        font-size: 1.2em;
        font-weight: bold;
      };   
}
.submit-btn-text{
    font-size: 1.2em;
    font-weight: bold;
}
.item-image{
    height: 50%;
    width: 50%;
}

.array-container{
    grid: 150px / auto auto auto auto;
    display: grid;
}
.image-input-container {
    text-align: center;
    justify-content: center;
}
.bottom-image-input-container {
    text-align: center;
    justify-content: center;
}

.list-item {
    list-style: none
}

.list-item:hover{

    background-color: grey;
    color: white;
  }


// Ids
#submit-btn {
    margin: 0.2%

}
#image {
    display: none;
}
#image-label {
    height: 100%;
    width: 100%;
}
#bottom-image-label{
    height: 100%;
    width: 100%;
}
#bottom-image {
    display: none;
}

