.container {
    height: 90%;
    text-align: center;
    background-color:#31C6D4 ;
}
button {
    margin-top: 1%;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 55%;
    font-size: 200%;
    margin-left: 2%;
}
.button-container{
   
    height: 10%;
   
}
.example-card{
    height: 100%;
    width: 100%;
  
}
.list-item{
    margin: 5%;
   height: 30em;
   width: 28em;
   background-color: black;
   color: #31C6D4;
    
}
.menu-list{

    background-color:#31C6D4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.item-image {
    height: 20em;
   width: 20em;
    margin-left: 14%;
    border-radius: 20%;
}

.ng-star-inserted {
    background-color: #31C6D4;
}